@background:#555;
@width :100px;
@height:30px;
@fontSize:16px;

.status(@bg){
	&:link,&:visited{
		border-top-color: @bg; 
		border-bottom-color: darken(@bg, 10%);
	}
	&:hover{
		border-top-color: darken(@bg, 10%); 
		border-bottom-color: darken(@bg, 15%); 
		color: #fff;
	}
	&:active{ 
		border-top-color: darken(@bg, 15%); 
		border-bottom-color: darken(@bg, 20%); 
		color: color: #fff;;
	}
}

a{
	&.lm-button{
		display: inline-block;
		position: relative;
		width: @width;
		border-width:@height / 2 0;
		border-style:solid;
		color: #fff;
		text-decoration: none;
		span{
			display: inline-block; 
			width: @width; 
			height: @height; 
			position: absolute; 
			top: -@height / 2;
			left: 0; 
			line-height:@height;
			font-size :@fontSize;
			font-weight:bold;
			font-family:arial;
			text-align: center; 
		}
		.status(@background);
	}
	&.lm-orange{
		.status(#ff5500);
	}
	&.lm-darkblue{
		.status(#4339c9);
	}
	&.lm-gray{
		.status(#c4c4c4);
	}
	&.lm-blue{
		.status(#3bd8e0);
	}
	&.lm-red{
		.status(#FC1724);
	}
	&.lm-green{
		.status(#4BB734);
	}
	&.lm-purple{
		.status(#D34BD3);
	}
	&.lm-grassgreen{
		.status(#1FED34);
	}
	&.lm-rosered{
		.status(#E05271);
	}
} 